[submodule "aemdesign-aem-core"]
	path = aemdesign-aem-core
	url = https://github.com/aem-design/aemdesign-aem-core.git
	branch = master
[submodule "aemdesign-aem-support"]
	path = aemdesign-aem-support
	url = https://github.com/aem-design/aemdesign-aem-support.git
	branch = master
[submodule "aemdesign-operations"]
	path = aemdesign-operations
	url = https://github.com/aem-design/aemdesign-operations.git
	branch = master
